In [21]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn.linear_model import LinearRegression
from Analysis.model.helper import *

In [22]:
from Analysis.model.helper import read_data
from Analysis.resources.costants import RESOURCES_DIRECTORY

data = read_data(os.path.join(RESOURCES_DIRECTORY,"data.csv"))
data

,Name,Rows,Columns,Error,Memory,Time,Language,OS,Nnz,Cond
0,apache2,715176,715176,2.235941e-08,0.004471,66.232192,1,0,4817870,5.316861e+06
1,apache2,715176,715176,4.388900e-11,2877.018100,13.430700,0,0,4817870,5.316861e+06
2,apache2,715176,715176,2.235941e-08,131.386811,83.372801,1,1,4817870,5.316861e+06
3,apache2,715176,715176,4.388900e-11,2769.992000,15.145300,0,1,4817870,5.316861e+06
4,cfd1,70656,70656,6.628463e-12,0.003326,4.461982,1,0,1825580,1.335081e+06
5,cfd1,70656,70656,1.135900e-13,577.585200,2.557600,0,0,1825580,1.335081e+06
6,cfd1,70656,70656,6.628463e-12,49.466571,5.382657,1,1,1825580,1.335081e+06
7,cfd1,70656,70656,1.135900e-13,560.592000,2.723700,0,1,1825580,1.335081e+06
8,cfd2,123440,123440,1.334161e-10,0.003326,10.917099,1,0,3085406,3.728473e+06
9,cfd2,123440,123440,3.348600e-13,1187.708900,6.083400,0,0,3085406,3.728473e+06
10,cfd2,123440,123440,1.334161e-10,0.003326,13.483177,1,1,3085406,3.728473e+06
11,cfd2,123440,123440,3.348600e-13,1145.468000,6.241800,0,1,3085406,3.728473e+06
12,ex15,6867,6867,5.281170e-05,0.003326,0.015078,1,0,98671,1.432642e+13
13,ex15,6867,6867,6.348200e-07,3.616800,0.030822,0,0,98671,1.432642e+13
14,ex15,6867,6867,5.281170e-05,2.664623,0.022156,1,1,98671,1.432642e+13
15,ex15,6867,6867,6.348200e-07,0.000000,0.024699,0,1,98671,1.432642e+13
16,G3_circuit,1585478,1585478,3.452568e-09,210.620559,27.939265,1,0,7660826,2.238425e+07
17,G3_circuit,1585478,1585478,3.576600e-12,3262.529500,19.503700,0,0,7660826,2.238425e+07
18,G3_circuit,1585478,1585478,3.452568e-09,0.003326,33.810687,1,1,7660826,2.238425e+07
19,G3_circuit,1585478,1585478,3.576600e-12,3203.660000,18.883200,0,1,7660826,2.238425e+07
20,parabolic_fem,525825,525825,8.836779e-10,0.003326,6.439602,1,0,3674625,2.110820e+05
21,parabolic_fem,525825,525825,1.050000e-12,607.600600,3.033300,0,0,3674625,2.110820e+05
22,parabolic_fem,525825,525825,8.836779e-10,0.003326,7.920758,1,1,3674625,2.110820e+05
23,parabolic_fem,525825,525825,1.050000e-12,538.452000,3.286900,0,1,3674625,2.110820e+05
24,shallow_water1,81920,81920,6.923992e-14,9.067514,0.615064,1,0,327680,3.628000e+00
25,shallow_water1,81920,81920,2.672800e-16,41.566200,0.254370,0,0,327680,3.628000e+00
26,shallow_water1,81920,81920,6.923992e-14,0.003326,0.745701,1,1,327680,3.628000e+00
27,shallow_water1,81920,81920,2.672800e-16,0.000000,0.263050,0,1,327680,3.628000e+00

# Windows

Innanzitutto prendo in considerazione solo le righe che hanno come OS Windows

In [23]:
windowsDataset = data.loc[data['OS'] == 0]
windowsDataset

,Name,Rows,Columns,Error,Memory,Time,Language,OS,Nnz,Cond
0,apache2,715176,715176,2.235941e-08,0.004471,66.232192,1,0,4817870,5.316861e+06
1,apache2,715176,715176,4.388900e-11,2877.018100,13.430700,0,0,4817870,5.316861e+06
4,cfd1,70656,70656,6.628463e-12,0.003326,4.461982,1,0,1825580,1.335081e+06
5,cfd1,70656,70656,1.135900e-13,577.585200,2.557600,0,0,1825580,1.335081e+06
8,cfd2,123440,123440,1.334161e-10,0.003326,10.917099,1,0,3085406,3.728473e+06
9,cfd2,123440,123440,3.348600e-13,1187.708900,6.083400,0,0,3085406,3.728473e+06
12,ex15,6867,6867,5.281170e-05,0.003326,0.015078,1,0,98671,1.432642e+13
13,ex15,6867,6867,6.348200e-07,3.616800,0.030822,0,0,98671,1.432642e+13
16,G3_circuit,1585478,1585478,3.452568e-09,210.620559,27.939265,1,0,7660826,2.238425e+07
17,G3_circuit,1585478,1585478,3.576600e-12,3262.529500,19.503700,0,0,7660826,2.238425e+07
20,parabolic_fem,525825,525825,8.836779e-10,0.003326,6.439602,1,0,3674625,2.110820e+05
21,parabolic_fem,525825,525825,1.050000e-12,607.600600,3.033300,0,0,3674625,2.110820e+05
24,shallow_water1,81920,81920,6.923992e-14,9.067514,0.615064,1,0,327680,3.628000e+00
25,shallow_water1,81920,81920,2.672800e-16,41.566200,0.254370,0,0,327680,3.628000e+00

In [24]:

windows_py, windows_mat = get_data_sorted("Rows", windowsDataset)

In [25]:
windows_py

,Name,Rows,Columns,Error,Memory,Time,Language,OS,Nnz,Cond
12,ex15,6867,6867,5.281170e-05,0.003326,0.015078,1,0,98671,1.432642e+13
4,cfd1,70656,70656,6.628463e-12,0.003326,4.461982,1,0,1825580,1.335081e+06
24,shallow_water1,81920,81920,6.923992e-14,9.067514,0.615064,1,0,327680,3.628000e+00
8,cfd2,123440,123440,1.334161e-10,0.003326,10.917099,1,0,3085406,3.728473e+06
20,parabolic_fem,525825,525825,8.836779e-10,0.003326,6.439602,1,0,3674625,2.110820e+05
0,apache2,715176,715176,2.235941e-08,0.004471,66.232192,1,0,4817870,5.316861e+06
16,G3_circuit,1585478,1585478,3.452568e-09,210.620559,27.939265,1,0,7660826,2.238425e+07

### Error

In [26]:
plot(windows_py['Name'], windows_py['Error'], windows_mat['Error'], "Name", "Error", "Error Analysis on Windows", LOG_SCALE=True)

TypeError: plot() missing 2 required positional arguments: 'legend1' and 'legend2'

In [ ]:
bar_plot(windows_py['Name'], windows_py['Error'], windows_mat['Error'], "Name", "Error", "Error Analysis on Windows", LOG_SCALE=True)

### Memory

In [ ]:
bar_plot(windows_py['Name'], windows_py['Memory'], windows_mat['Memory'], "Name", "Memory", "Memory Analysis on Windows", Y_LABEL="MB")

In [ ]:
plot(windows_py['Name'], windows_py['Memory'], windows_mat['Memory'], "Name", "Memory", "Memory Analysis on Windows", Y_LABEL="MB")

### Time

In [ ]:
plot(windows_py['Name'], windows_py['Time'], windows_mat['Time'], "Name", "Time","Time Analysis on Windows", Y_LABEL="s")

In [ ]:
bar_plot(windows_py['Name'], windows_py['Time'], windows_mat['Time'], "Name", "Time","Time Analysis on Windows", Y_LABEL="s")

## ANALISI SUCCESSIVE

### Condizionamento e Errore
Calcoliamo la regressione lineare tra le due variabli

In [ ]:
x = np.array(windows_py['Cond'])
y = np.array(windows_py['Error'])

correlation(x, y, "Cond", "Error")

[[1.         0.99999992]
 [0.99999992 1.        ]]

Correlazione forte

# LINUX

In [ ]:
linuxDataset = data.loc[data['OS'] == 1]
linuxDataset

In [ ]:
linux_py, linux_mat = get_data_sorted("Rows", linuxDataset)
linux_py

### ERROR

In [ ]:
plot(linux_py['Name'], linux_py['Error'], linux_mat['Error'], "Name", "Error", "Error Analysis on linux")

In [ ]:
bar_plot(linux_py['Name'], linux_py['Error'], linux_mat['Error'], "Name", "Error", "Error Analysis on linux")

### MEMORY

In [ ]:
bar_plot(linux_py['Name'], linux_py['Memory'], linux_mat['Memory'], "Name", "Memory", "Memory Analysis on linux", Y_LABEL="MB")

In [ ]:
plot(linux_py['Name'], linux_py['Memory'], linux_mat['Memory'], "Name", "Memory", "Memory Analysis on linux", Y_LABEL="MB")

### TIME

In [ ]:
plot(linux_py['Name'], linux_py['Time'], linux_mat['Time'], "Name", "Time","Time Analysis on linux", Y_LABEL="s")

In [ ]:
bar_plot(linux_py['Name'], linux_py['Time'], linux_mat['Time'], "Name", "Time","Time Analysis on linux", Y_LABEL="s")